


header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    ;

}



.lineBorder {
    background-color: rgb(36, 27, 20);
    height: 10px;
    
}

.vertical-center {
   
       

    display: flex;
    
  }

.container-fluid{
     position: center;
     margin-top: 50px;
     width: 70%;
    

}

.cardTime{
    background-color: rgb(177, 151, 120);
    height: 40px;
    
}



  .card {
    
      background-color: rgb(97, 170, 164);
      height: 50px;
      
      
        
  }

  .row {
      height: 80%;
  }