body, html, .container-fluid {
    height: 50%;
    width: 100%;
    align-content: center;
}




header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    ;

}



.lineBorder {
    background-color: rgb(36, 27, 20);
    height: 10px;
    
}

.vertical-center {
   
       

    display: flex;
    align-items: center;
  }

  .card {
      background-color: rgb(97, 170, 164);
      
        
  }

  .row {
      height: 80%;
  }